<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <title>About | Snow</title>
</head>
<body>
<header th:replace="~{template :: base-header}"></header>

<section class="about">
    <div class="container_about">
        <div class="about-content">
            <h2>About Us</h2>

            <p>Welcome to SN❄W, your ultimate destination for all things skiing! At SN❄W, we are passionate about providing top-quality ski gear and equipment to enthusiasts of all levels. Whether you're a beginner hitting the slopes for the first time or an experienced skier seeking the latest innovations, we've got you covered.</p>
            <p>Our mission is to make your skiing experience unforgettable by offering a wide range of products, from skis and boots to clothing and accessories, all carefully selected from leading brands in the industry. With our dedication to customer satisfaction and expert advice, you can trust SN❄W to be your trusted partner in your skiing journey.</p>
        </div>
    </div>
</section>

<footer th:replace="~{template :: base-footer}"></footer>
</body>
</html>
