#empty-cart {
    text-align: center;
    font-family: Tahoma, sans-serif;
}

#empty-cart > a {
    color: #007bff;
    text-decoration: none;
}

.cart-items-table {
    width: 80%;
    margin: 20px auto;
}

.cart-items-table > p {
    font-family: Tahoma, sans-serif;
    text-align: right;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;

    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #ffffff, #f2f2f2);
}


th {
    background-color: rgba(202, 193, 193, 0.71);
    color: #000000;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


tr:nth-child(even) {
    background-color: #f8f8f8;
}


tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.btn {
    cursor: pointer;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.btn-edit {
    background-color: #007bff;
}

.btn-remove {
    background-color: #f44336;
}
